<configuration>
    <property name="LOGS_DIR" value='logs'/>

    <timestamp key="bySecond" datePattern="yyyy.MM.dd-HH.mm.ss"/>

    <appender name="LOG" class="ch.qos.logback.core.FileAppender">
        <file>
            ${LOGS_DIR}/${bySecond}.log
        </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="storage.Generator" level="DEBUG"/>-->

    <root level="OFF">
        <appender-ref ref="LOG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
